// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ue {
            bindings = <&kp DE_U_UMLAUT>;
            key-positions = <8 17>;
            layers = <0>;
        };

        ae {
            bindings = <&kp DE_A_UMLAUT>;
            key-positions = <19 17>;
        };

        oe {
            bindings = <&kp DE_O_UMLAUT>;
            key-positions = <17 7>;
        };

        ss {
            bindings = <&kp DE_SHARP_S>;
            key-positions = <30 17>;
        };
    };

    macros {
        layer_1: layer_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 1>,
                <&macro_tap>,
                <&kp F14>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 1>,
                <&macro_tap>,
                <&kp F17>;

            label = "LAYER_1";
        };

        layer_2: layer_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 2>,
                <&macro_tap>,
                <&kp F15>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 2>,
                <&macro_tap>,
                <&kp F17>;

            label = "LAYER_2";
        };

        layer_3: layer_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 3>,
                <&macro_tap>,
                <&kp F16>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 3>,
                <&macro_tap>,
                <&kp F17>;

            label = "LAYER_3";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Norden {
            bindings = <
&kp Q  &kp L     &kp D  &kp DE_Z  &kp K       &kp P         &kp W            &kp O         &kp U         &kp BSPC
&kp R  &kp DE_N  &kp T  &kp U     &kp F       &kp DE_Y      &kp C            &kp E         &kp I         &kp A
&kp X  &kp J     &kp M  &kp B     &kp V       &kp DE_MINUS  &kp G            &kp DE_SLASH  &kp DE_COMMA  &kp DE_DOT
                        &kp S     &layer_2    &layer_1      &mt LSHFT SPACE
            >;
        };

        SYM {
            bindings = <
&kp DE_PERCENT      &kp DE_LESS_THAN   &kp DE_CARET  &kp DE_PIPE       &kp DE_COLON           &kp DE_COMMA  &kp DE_STAR        &kp DE_BACKSLASH          &kp DE_GREATER_THAN  &kp DE_AMPERSAND
&kp DE_EQUAL        &kp DE_LEFT_BRACE  &kp DE_LPAR   &kp DE_SEMICOLON  &kp DE_LEFT_BRACKET    &kp DE_RBKT   &kp DE_UNDERSCORE  &kp DE_RIGHT_PARENTHESIS  &kp DE_RIGHT_BRACE   &kp DE_PLUS
&kp DE_EXCLAMATION  &kp DE_QUESTION    &kp DE_ACUTE  &kp DE_FSLH       &kp DE_TILDE           &kp DE_MINUS  &kp DE_DOLLAR      &kp DE_POUND              &kp DE_SQT           &kp DE_DQT
                                                     &trans            &trans                 &trans        &trans
            >;
        };

        NAV {
            bindings = <
&kp N1         &kp N2                   &kp N3           &kp N4          &kp N5       &kp N6    &kp N7          &kp N8       &kp N9          &kp LC(BSPC)
&mt LCTRL TAB  &mt LEFT_ALT LEFT_ARROW  &mt LEFT_GUI UP  &mt LSHFT DOWN  &kp RIGHT    &kp LEFT  &mt LSHFT DOWN  &mt LGUI UP  &mt LALT RIGHT  &mt LCTRL END
&trans         &trans                   &trans           &trans          &kp N0       &trans    &trans          &trans       &trans          &trans
                                                         &trans          &trans       &trans    &trans
            >;
        };

        tri_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5       &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
&trans  &trans  &trans  &trans  &kp DE_N0    &trans  &trans  &trans  &trans  &to 4
                        &trans  &trans       &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                             &trans  &trans    &trans  &trans
            >;
        };
    };
};
