// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        OSL_MT: OSL_MT {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&OSL_both_mo>, <&kp>;

            label = "OSL_MT";
        };

        OSL_MT_L: OSL_MT_L {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&OSL_MO_L>, <&kp>;

            label = "OSL_MT_L";
        };

        OSL_MT_R: OSL_MT_R {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&OSL_MO_R>, <&kp>;

            label = "OSL_MT_R";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ue {
            bindings = <&kp DE_U_UMLAUT>;
            key-positions = <8 17>;
            layers = <0>;
        };

        ae {
            bindings = <&kp DE_A_UMLAUT>;
            key-positions = <19 17>;
        };

        oe {
            bindings = <&kp DE_O_UMLAUT>;
            key-positions = <17 7>;
        };

        ss {
            bindings = <&kp DE_SHARP_S>;
            key-positions = <30 17>;
        };
    };

    macros {
        sym_macro: layer_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 1>,
                <&macro_tap>,
                <&kp F14>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 1>,
                <&macro_tap>,
                <&kp F17>;

            label = "LAYER_1";
        };

        nav_macro: layer_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 2>,
                <&macro_tap>,
                <&kp F15>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 2>,
                <&macro_tap>,
                <&kp F17>;

            label = "LAYER_2";
        };

        num_macro: layer_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 3>,
                <&macro_tap>,
                <&kp F16>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 3>,
                <&macro_tap>,
                <&kp F17>;

            label = "LAYER_3";
        };

        OSL_both_mo: OSL_Left_MO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 4>,
                <&macro_tap>,
                <&kp F18>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 4>,
                <&macro_tap>,
                <&kp F17>;

            label = "OSL_LEFT_MO";
        };

        OSL_MO_R: OSL_MO_R {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 6>,
                <&macro_tap>,
                <&kp F18>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 6>,
                <&macro_tap>,
                <&kp F17>;

            label = "OSL_MO_R";
        };

        OSL_MO_L: OSL_MO_L {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 5>,
                <&macro_tap>,
                <&kp F19>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 5>,
                <&macro_tap>,
                <&kp F17>;

            label = "OSL_MO_L";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Norden {
            bindings = <
&kp DE_Q          &kp DE_L  &kp DE_D  &kp DE_Z  &kp DE_K      &kp DE_P      &kp DE_W         &kp DE_O      &kp DE_U      &kp BSPC
&kp DE_R          &kp DE_N  &kp DE_T  &kp DE_H  &kp DE_F      &kp DE_Y      &kp DE_C         &kp DE_E      &kp DE_I      &kp DE_A
&OSL_MT_R 0 DE_X  &kp DE_J  &kp DE_M  &kp DE_B  &kp DE_V      &kp DE_MINUS  &kp DE_G         &kp DE_SLASH  &kp DE_COMMA  &OSL_MT_R 0 DE_DOT
                                      &kp DE_S  &nav_macro    &sym_macro    &mt LSHFT SPACE
            >;
        };

        SYM {
            bindings = <
&kp DE_PERCENT      &kp DE_LESS_THAN   &kp DE_CARET  &kp DE_PIPE       &kp DE_COLON           &kp DE_COMMA  &kp DE_STAR        &kp DE_BACKSLASH          &kp DE_GREATER_THAN  &kp DE_AMPERSAND
&kp DE_EQUAL        &kp DE_LEFT_BRACE  &kp DE_LPAR   &kp DE_SEMICOLON  &kp DE_LEFT_BRACKET    &kp DE_RBKT   &kp DE_UNDERSCORE  &kp DE_RIGHT_PARENTHESIS  &kp DE_RIGHT_BRACE   &kp DE_PLUS
&kp DE_EXCLAMATION  &kp DE_QUESTION    &kp DE_ACUTE  &kp DE_FSLH       &kp DE_TILDE           &kp DE_MINUS  &kp DE_DOLLAR      &kp DE_POUND              &kp DE_SQT           &kp DE_DQT
                                                     &trans            &trans                 &trans        &trans
            >;
        };

        NAV {
            bindings = <
&kp N1         &kp N2                   &kp N3           &kp N4          &kp N5       &kp N6    &kp N7          &kp N8       &kp N9          &kp LC(BSPC)
&mt LCTRL TAB  &mt LEFT_ALT LEFT_ARROW  &mt LEFT_GUI UP  &mt LSHFT DOWN  &kp RIGHT    &kp LEFT  &mt LSHFT DOWN  &mt LGUI UP  &mt LALT RIGHT  &mt LCTRL ESCAPE
&trans         &trans                   &trans           &key_repeat     &kp N0       &trans    &key_repeat     &trans       &trans          &trans
                                                         &trans          &trans       &trans    &kp ENTER
            >;
        };

        tri_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5       &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
&trans  &trans  &trans  &trans  &kp DE_N0    &trans  &trans  &trans  &trans  &to 6
                        &trans  &trans       &trans  &trans
            >;
        };

        osl_both {
            bindings = <
&trans     &trans    &trans    &trans     &trans    &trans  &trans     &trans    &trans    &trans
&sk LCTRL  &sk LALT  &sk LGUI  &sk LSHFT  &trans    &trans  &sk LSHFT  &sk LGUI  &sk LALT  &sk LCTRL
&trans     &trans    &trans    &trans     &trans    &trans  &trans     &trans    &trans    &trans
                               &trans     &trans    &trans  &trans
            >;
        };

        OSL_Left {
            bindings = <
&trans     &trans    &trans    &trans     &trans    &trans  &trans  &trans  &trans  &trans
&sk LCTRL  &sk LALT  &sk LGUI  &sk LSHFT  &trans    &trans  &trans  &trans  &trans  &trans
&trans     &trans    &trans    &trans     &trans    &trans  &trans  &trans  &trans  &trans
                               &trans     &trans    &trans  &trans
            >;
        };

        OSL_Right {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans    &trans  &sk LSHFT  &sk LGUI  &sk LALT  &sk LCTRL
&trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans    &trans    &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                             &trans  &trans    &trans  &trans
            >;
        };
    };
};
