// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"

&sl { ignore-modifiers; };

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        to_sym_hmr: to_sym_hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "TO_SYM_HMR";
            bindings = <&mo>, <&to_sym>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-unless-interrupted";
            require-prior-idle-ms = <150>;
        };

        to_nav_hmr: to_nav_hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "TO_NAV_HMR";
            bindings = <&mo>, <&to_nav>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-unless-interrupted";
            require-prior-idle-ms = <150>;
        };

        sl_nav_hrm: sl_nav_hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "SL_NAV_HRM";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-unless-interrupted";
        };

        sl_sym_hrm: sl_sym_hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "SL_SYM_HRM";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            flavor = "tap-unless-interrupted";
        };

        s_ctrl: s_ctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "S_CTRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <200>;
            tapping-term-ms = <150>;
        };

        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            require-prior-idle-ms = <75>;
            flavor = "tap-preferred";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        ue {
            bindings = <&kp DE_U_UMLAUT>;
            key-positions = <8 30>;
            layers = <0>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        ae {
            bindings = <&kp DE_A_UMLAUT>;
            key-positions = <19 30>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            layers = <0>;
        };

        oe {
            bindings = <&kp DE_O_UMLAUT>;
            key-positions = <30 7>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            layers = <0>;
        };

        ss {
            bindings = <&kp DE_SHARP_S>;
            key-positions = <30 17>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            layers = <0>;
        };

        Esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
            require-prior-idle-ms = <200>;
            timeout-ms = <75>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <12 13 11>;
            timeout-ms = <50>;
            layers = <0>;
        };

        bspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 7>;
            timeout-ms = <75>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18>;
            timeout-ms = <75>;
            require-prior-idle-ms = <300>;
        };

        boot {
            bindings = <&bootloader>;
            key-positions = <0 9>;
            layers = <2>;
        };

        combo_lbrc {
            bindings = <&kp DE_LBRC>;
            key-positions = <11 1>;
            timeout-ms = <50>;
        };

        combo_lbrk {
            bindings = <&kp DE_LBKT>;
            key-positions = <2 12>;
            timeout-ms = <50>;
        };

        combo_lpar {
            bindings = <&kp DE_LPAR>;
            key-positions = <3 13>;
            timeout-ms = <50>;
        };

        combo_rpar {
            bindings = <&kp DE_RPAR>;
            key-positions = <6 16>;
            timeout-ms = <50>;
        };

        combo_rbkt {
            bindings = <&kp DE_RIGHT_BRACKET>;
            key-positions = <7 17>;
            timeout-ms = <50>;
        };

        rombo_rbrc {
            bindings = <&kp DE_RBRC>;
            key-positions = <8 18>;
            timeout-ms = <50>;
        };

        combo_fslsh {
            bindings = <&kp DE_FSLH>;
            key-positions = <12 22>;
            timeout-ms = <50>;
        };

        combo_bslsh {
            bindings = <&kp DE_BSLH>;
            key-positions = <17 27>;
            timeout-ms = <50>;
        };

        combo_semi {
            bindings = <&kp DE_SEMICOLON>;
            key-positions = <27 26 28>;
            timeout-ms = <50>;
        };

        combo_grave {
            bindings = <&kp GRAVE>;
            key-positions = <8 7>;
            layers = <1>;
        };

        combo_gt {
            bindings = <&kp DE_GREATER_THAN>;
            key-positions = <13 23>;
            layers = <1>;
        };

        combo_lt {
            bindings = <&kp DE_LT>;
            key-positions = <11 21>;
            layers = <1>;
        };

        combo_pipe {
            bindings = <&kp DE_PIPE>;
            key-positions = <12 22>;
            layers = <1>;
        };

        combo_sqt {
            bindings = <&kp DE_SQT>;
            key-positions = <6 7>;
        };

        combo_dqt {
            bindings = <&kp DE_DQT>;
            key-positions = <6 7>;
            layers = <1>;
        };

        combo_ctrlbspc {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <8 7 6>;
            require-prior-idle-ms = <150>;
            timeout-ms = <50>;
        };
    };

    macros {
        sym_macro: layer_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 1>,
                <&macro_tap>,
                <&kp F14>,
                <&macro_pause_for_release>,
                <&macro_tap>,
                <&kp F17>,
                <&macro_release>,
                <&mo 1>;

            label = "LAYER_1";
        };

        nav_macro: layer_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 2>,
                <&macro_tap>,
                <&kp F15>,
                <&macro_pause_for_release>,
                <&macro_tap>,
                <&kp F17>,
                <&macro_release>,
                <&mo 2>;

            label = "LAYER_2";
        };

        num_macro: layer_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 3>,
                <&macro_tap>,
                <&kp F16>,
                <&macro_pause_for_release>,
                <&macro_tap>,
                <&kp F17>,
                <&macro_release>,
                <&mo 3>;

            label = "LAYER_3";
        };

        to_sym: to_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&to 1 &kp F14>;

            label = "TO_SYM";
        };

        to_nav: hmr_nav {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&to 2 &kp F15>;

            label = "HMR_NAV";
        };

        to_norden: to_norden {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&to 0 &kp F17>;

            label = "TO_NORDEN";
        };

        sk_sym: sk_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&sl 1 &kp F14>;

            label = "SK_SYM";
        };

        sk_nav: sk_nav {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&sl 2 &kp F15>;

            label = "SK_NAV";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Norden {
            bindings = <
&kp DE_Q        &kp DE_L           &kp DE_D           &kp DE_Z             &kp DE_K    &kp DE_P              &kp DE_W             &kp DE_O           &kp DE_U           &kp LC(BSPC)
&hm LCTRL DE_R  &hm LEFT_ALT DE_N  &hm LEFT_GUI DE_T  &hm LEFT_SHIFT DE_H  &kp DE_F    &kp DE_Y              &hm LEFT_SHIFT DE_C  &hm LEFT_GUI DE_E  &hm LEFT_ALT DE_I  &hm LCTRL DE_A
&kp DE_X        &kp DE_J           &kp DE_M           &kp DE_B             &kp DE_V    &kp DE_MINUS          &kp DE_G             &kp DE_SLASH       &kp DE_COMMA       &kp DE_DOT
                                                      &mo 1                &kp DE_S    &mt LEFT_SHIFT SPACE  &mo 2
            >;

            label = "NRDN";
        };

        SYM {
            bindings = <
&trans              &kp DE_AT        &kp DE_HASH      &kp DE_DLLR       &trans            &trans  &kp N7  &kp N8  &kp N9  &trans
&kp DE_PLUS         &kp DE_EQUAL     &kp DE_UNDER     &kp DE_MINUS      &kp DE_PERCENT    &trans  &kp N4  &kp N5  &kp N6  &kp DE_COMMA
&kp DE_EXCLAMATION  &kp DE_QUESTION  &kp DE_ASTERISK  &kp DE_AMPERSAND  &kp DE_CARET      &kp N0  &kp N1  &kp N2  &kp N3  &kp DE_DOT
                                                      &trans            &trans            &trans  &trans
            >;

            label = "SYM";
        };

        NAV {
            bindings = <
&trans        &kp LC(TAB)      &kp LS(LC(TAB))  &kp LC(F4)   &trans     &trans    &kp PG_DN    &kp PG_UP  &kp BSPC   &trans
&sk LCTRL     &sk LALT         &sk LGUI         &sk LSHFT    &kp TAB    &kp LEFT  &kp DOWN     &kp UP     &kp RIGHT  &trans
&kp LG(DE_Q)  &kp LA(LS(TAB))  &kp LA(TAB)      &key_repeat  &kp N0     &kp HOME  &key_repeat  &trans     &kp END    &trans
                                                &trans       &trans     &trans    &kp ENTER
            >;

            label = "NAV";
        };

        layer_4 {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                             &trans  &trans    &trans  &trans
            >;
        };
    };
};
